body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-container {
    margin-bottom: 30px;
}

.btn-container button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(255, 187, 0);
    transition: 0.5s;
}

.btn-container button:hover {
    color: rgb(121, 121, 121);
    background-color: rgb(246, 201, 75);
}

.start-btn {
    padding: 10px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.start-btn:hover {
    background-color: rgb(101, 253, 147);
}

table {
    border-collapse: collapse;
    margin: auto;
    font-size: 50px;
}

td {
    color: white;
    width: 100px;
    height: 100px;
    background-color: rgb(106, 106, 177);
    border: 1px solid black;

}

.mine {
    background-color: tomato;
}

.shown {
    background-color: rgb(223, 190, 254);
    color: black
}